In [1]:
### Note
# Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
# Reading File location
file_to_load = "./Resources/purchase_data.csv"
#Assigning varibale and calculating total unique count
purchase_data = pd.read_csv(file_to_load)
nb_of_pl=len(purchase_data["SN"].unique())
print("Player Count  "+ str(nb_of_pl))
#purchase_data.nunique()

Player Count  576

## Player Count

* Display the total number of players

In [2]:
#Priting purchase analyis of unique item, average price, number of Purchases and Total Revenue
unq_items=len(purchase_data["Item ID"].unique())
#print(unq_items)
average=round(purchase_data["Price"].mean(),2)
#print(average)
nb_pur=len(purchase_data["Item ID"])
#print(nb_pur)
tot_rev=purchase_data["Price"].sum()     
#print(tot_rev)
pur_analysis=pd.DataFrame({"Number of Unique Items": [unq_items],"Average Price": [average],"Number of Purchases":[nb_pur],"Total Revenue":[tot_rev]})
pur_analysis
#purchase_data.Age.unique()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [3]:
## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Summary table to show Gender valuecount by total and Percentage
#Reading Data in new Data Frame
uniqu_pl=pd.DataFrame(purchase_data, columns=['Gender','SN','Age'])

#Removing Duplicates
duplicate_rem=pd.DataFrame.drop_duplicates(uniqu_pl)
#Doing valuecount percent and add it new Data Frame and columns
valuecounts = duplicate_rem["Gender"].value_counts(normalize=True)*100
valuecounts_df= pd.DataFrame(valuecounts)
valuecounts_df.columns=['Percentage']
#Doing valuecount total and add it new Data Frame and columns
valuect_total=duplicate_rem["Gender"].value_counts()
valuect_df= pd.DataFrame(valuect_total)
valuect_df.columns=['Total']

valuecounts_df.join(valuect_df)
#uniqu_pl
#purchase_data.Age.unique()

                       Percentage  Total
Male                    84.027778    484
Female                  14.062500     81
Other / Non-Disclosed    1.909722     11

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Grouping the Purchase dae by Gender and calculating purchase count, mean and total purchase

total_purchases= purchase_data['Purchase ID'].groupby([purchase_data['Gender']]).count()

Avg_purchase= round(purchase_data['Price'].groupby([purchase_data['Gender']]).mean(),2)

tm_pur=pd.DataFrame(total_purchases)
tm_pur.columns=['Total Purchases']

av_pur=pd.DataFrame(Avg_purchase)
av_pur.columns=['Average Purchases']

Avg_purchase_total= purchase_data['Price'].groupby([purchase_data['Gender']]).sum()
av_pur_total=pd.DataFrame(Avg_purchase_total)
av_pur_total.columns=['Avg Purchase Total']


gen_an=tm_pur.join(av_pur)
gen_an1=gen_an.join(av_pur_total)
gen_an1.head()

                       Total Purchases  Average Purchases  Avg Purchase Total
Gender
Female                             113               3.20              361.94
Male                               652               3.02             1967.64
Other / Non-Disclosed               15               3.35               50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#purchase_data
# uniqu_pl1=pd.DataFrame(purchase_data, columns=['Age'])
# duplicate_rem1=pd.DataFrame.drop_duplicates(uniqu_pl1)

agebins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
gnames = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
duplicate_rem["Age Ranges"]=pd.cut(duplicate_rem['Age'], agebins, gnames)
#defining variables and calculating
ag_totals = duplicate_rem["Age Ranges"].value_counts()
#print(ag_totals)
ag_percents = round(ag_totals /nb_of_pl *100,2).astype(str) + '%'
# creating the dataframe
ag_summary = pd.DataFrame({"Total Count":ag_totals, "Percentage of Players":ag_percents})
ag_summary = ag_summary.round(2)
# display
ag_summary.sort_index()

C:\Users\sethi\Anaconda3\envs\pydata\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                 Total Count Percentage of Players
(0.0, 9.9]                17                 2.95%
(9.9, 14.9]               22                 3.82%
(14.9, 19.9]             107                18.58%
(19.9, 24.9]             258                44.79%
(24.9, 29.9]              77                13.37%
(29.9, 34.9]              52                 9.03%
(34.9, 39.9]              31                 5.38%
(39.9, 99999.0]           12                 2.08%

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [7]:
#Displaying Top Spenders by grouping by SN and cal sum, average and total purchases

top_s= purchase_data['Price'].groupby([purchase_data['SN']]).sum()
top_av= round(purchase_data['Price'].groupby([purchase_data['SN']]).mean(),2)
top_tot_av=purchase_data['Price'].groupby([purchase_data['SN']]).count()

top_df=pd.DataFrame(top_s)
sort_top_df= top_df.sort_values(by='Price', ascending=False)
sort_top_df.columns=["Total Purchase Value"]
sort_top_df.head()
top_av_df=pd.DataFrame(top_av)
top_av_df.columns=["Average Price"]
new_df=sort_top_df.join(top_av_df)
top_tot_df=pd.DataFrame(top_tot_av)
top_tot_df.columns=["Total Purchases"]
really_new=new_df.join(top_tot_df)
really_new.head(5)

             Total Purchase Value  Average Price  Total Purchases
SN
Lisosia93                   18.96           3.79                5
Idastidru52                 15.45           3.86                4
Chamjask73                  13.83           4.61                3
Iral74                      13.62           3.40                4
Iskadarya95                 13.10           4.37                3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Getting most popular items, purchase counts and item price

pop_item= pd.DataFrame(purchase_data, columns=['Item ID', 'Item Name','Price'])
pop_s= round(pop_item['Price'].groupby([pop_item['Item ID'],pop_item['Item Name']]).mean(),2)
pop_av=pop_item['Price'].groupby([pop_item['Item ID'],pop_item['Item Name']]).sum()
pop_tot= pop_item['Price'].groupby([pop_item['Item ID'],pop_item['Item Name']]).count()

pop_df=pd.DataFrame(pop_tot)
pop_df
sort_pop_df= pop_df.sort_values(by='Price', ascending=False)
sort_pop_df.columns=["Total Purchase Count"]
sort_pop_df.head()
pop_av_df=pd.DataFrame(pop_av)
pop_av_df.columns=["Total purchase Value"]
new_df_pop=sort_pop_df.join(pop_av_df)
pop_tot_df=pd.DataFrame(pop_s)
pop_tot_df.columns=["Item Price"]
really_new_pop=new_df_pop.join(pop_tot_df)
really_new_pop.head(5)

,,Total Purchase Count,Total purchase Value,Item Price
Item ID,Item Name,,,
92,Final Critic,13,59.99,4.61
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,4.23
145,Fiery Glass Crusader,9,41.22,4.58
132,Persuasion,9,28.99,3.22
108,"Extraction, Quickblade Of Trembling Hands",9,31.77,3.53

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [9]:
sort_tot_pur= really_new_pop.sort_values(by="Total purchase Value", ascending=False)
sort_tot_pur.head(5)

,,Total Purchase Count,Total purchase Value,Item Price
Item ID,Item Name,,,
92,Final Critic,13,59.99,4.61
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,4.23
82,Nirvana,9,44.10,4.90
145,Fiery Glass Crusader,9,41.22,4.58
103,Singed Scalpel,8,34.80,4.35